.surface-ground {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-image {
  margin-bottom: 1.25rem; /* mb-5 */
  width: 6rem; /* w-6rem */
  flex-shrink: 0;
}

.gradient-container {
  border-radius: 56px;
  padding: 0.3rem;
  background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);
}

.card-container {
  width: 100%; /* w-full */
  padding: 2rem 1.25rem; /* py-8 px-5 */
  @media (min-width: 640px) {
    padding: 2rem; /* sm:px-8 */
  }
  border-radius: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange; /* bg-orange-500 */
  border-radius: 50%; /* border-circle */
  width: 3.2rem;
  height: 3.2rem;
}

/* Añade clases adicionales según sea necesario */
